.home {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #f0f0f0;
}

.home__link {
	margin-left: 2.5rem;
	padding: 0.625rem 1.25rem;
	border-radius: 0.25rem;
	border: 1px solid var(--color-grey-300);

	&:hover {
		background-color: var(--color-grey-300);
	}
}
